._0fcaa63 {
    height: 3px !important;
    min-height: 3px !important;
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0 !important;
    pointer-events: none !important;
    overflow: hidden !important;
}
